*.py[co]
*~
.DS_Store
_cache/
.cache/
.vagrant/
.coverage
/cover/
/htmlcov/
/build/
/dist/
*.egg-info
.tox
tags
tmp

# virtualenv folders
venv
.vscode/
.idea/
.python-version
.ipynb_checkpoints
.ropeproject
.mypy_cache